In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x, end=", ")

apple, banana, cherry,

In [ ]:
# if a is found in "banana", print "Ayakata", else print "Balabluuu"
for x in "banana":
  if x == "a":
    print(x, "Ayakata")
  else:
    print(x, "Balabluuu")

b Balabluuu
a Ayakata
n Balabluuu
a Ayakata
n Balabluuu
a Ayakata

In [ ]:
# if "m" is found in the string, print "Bravo", else print "Emilokan"
# Ensure "m" is also equivalent to "M"
my_string = "Miss Mahmoodah"
for x in my_string:
  if x == "m":
    print(x, "Bravo")
  elif x == "M":
    print(x, "Bravo")
  else:
    print(x, "Emilokan")

M Bravo
i Emilokan
s Emilokan
s Emilokan
  Emilokan
M Bravo
a Emilokan
h Emilokan
m Bravo
o Emilokan
o Emilokan
d Emilokan
a Emilokan
h Emilokan

In [ ]:
x

'h'

In [ ]:
# if "m" is found in the string, print "Bravo", else print "Emilokan"
# Ensure "m" is also equivalent to "M"
my_string = "Miss Mahmoodah"
for x in my_string:
  if x == "m" or x == "M":
    print(x, "Bravo")
  else:
    print(x, "Emilokan")

M Bravo
i Emilokan
s Emilokan
s Emilokan
  Emilokan
M Bravo
a Emilokan
h Emilokan
m Bravo
o Emilokan
o Emilokan
d Emilokan
a Emilokan
h Emilokan

In [ ]:
# if "m" is found in the string, print "Bravo", else print "Emilokan"
# Ensure "m" is also equivalent to "M"
my_string = "Mu'ammar Gaddafi"
for x in my_string.lower():
  if x == "m":
    print(x, "Bravo")
  else:
    print(x, "Emilokan")

print(x)

m Bravo
u Emilokan
' Emilokan
a Emilokan
m Bravo
m Bravo
a Emilokan
r Emilokan
  Emilokan
g Emilokan
a Emilokan
d Emilokan
d Emilokan
a Emilokan
f Emilokan
i Emilokan
i

In [ ]:
# if "m" is found in the string, say "I have found your treasure". Then stop the search.
# Ensure "m" is also equivalent to "M"
# If no "m" is found, print "No treasure on this island"
my_string = "Salaamah"
for x in my_string.lower():
  if x == "m":
    result = f"{x}, I have found your treasure"
    break
  else:
    result = f"{x}, No treasure on this island"

print(result)

m, I have found your treasure

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x, end=", ")

apple, banana, cherry,

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

### RANGE

In [ ]:
for x in range(1, 101):
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

##### PRINTING EVEN NUMBERS USING RANGE

In [ ]:
for x in range(2, 101, 2):
  print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
for x in range(1, 101, 2):
  print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
for x in range(5, 101, 5):
  print(x)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [31]:
iterations = 1
for x in range(1000, 1005):
  print(f"The value of x at iteration {iterations} is {x}")
  iterations = iterations + 1
else:
  print("Finally finished!")
print(f"Our total iterations are {iterations - 1}")

The value of x at iteration 1 is 1000
The value of x at iteration 2 is 1001
The value of x at iteration 3 is 1002
The value of x at iteration 4 is 1003
The value of x at iteration 5 is 1004
Finally finished!
Our total iterations are 5

In [33]:
for x in range(6):
  if x == 3: continue
  print(x)
else:
  print("Finally finished!")

0
1
2
4
5
Finally finished!

In [36]:
adj = ["red", "big", "tasty", "Green"]
origin = ["Nigerian", "Palestinian", "Meccan"]
fruits = ["apple", "banana", "cherry"]


for x in adj:
  for y in origin:
    for z in fruits:
      print(x, y, z)

red Nigerian apple
red Nigerian banana
red Nigerian cherry
red Palestinian apple
red Palestinian banana
red Palestinian cherry
red Meccan apple
red Meccan banana
red Meccan cherry
big Nigerian apple
big Nigerian banana
big Nigerian cherry
big Palestinian apple
big Palestinian banana
big Palestinian cherry
big Meccan apple
big Meccan banana
big Meccan cherry
tasty Nigerian apple
tasty Nigerian banana
tasty Nigerian cherry
tasty Palestinian apple
tasty Palestinian banana
tasty Palestinian cherry
tasty Meccan apple
tasty Meccan banana
tasty Meccan cherry
Green Nigerian apple
Green Nigerian banana
Green Nigerian cherry
Green Palestinian apple
Green Palestinian banana
Green Palestinian cherry
Green Meccan apple
Green Meccan banana
Green Meccan cherry

In [39]:
for x in [0, 1, 2]:
  pass

In [59]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_fruits = []

for x in fruits:
    new_fruits.append(x)

print(new_fruits)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [49]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_fruits = []

new_fruits.append(fruits[0])
new_fruits.append(fruits[1])
new_fruits.append(fruits[4])


print(new_fruits)

['apple', 'banana', 'mango']

In [61]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [71]:
import random
random.randint(1, 17)

2

In [85]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango", "blueberry", "blackcurrant"]

newlist = [x for x in fruits if "a" in x and "b" in x]

print(newlist)

['banana', 'blackcurrant']

In [87]:
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango', 'blueberry', 'blackcurrant']

In [95]:
newlist = [x for x in range(2,51,2)]
print(newlist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [96]:
newlist

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [100]:
newlist = [x*10 for x in range(10) if x < 5]
newlist

[0, 10, 20, 30, 40]

In [98]:
newlist = [x.upper() for x in fruits]

In [99]:
newlist

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO', 'BLUEBERRY', 'BLACKCURRANT']

In [101]:
newlist = ['hello' for x in fruits]
newlist

['hello', 'hello', 'hello', 'hello', 'hello', 'hello', 'hello']